<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="background-color:powderblue;">
<h1>REGISTRATION LOGIN </h1>
<form method="post" >
    {% csrf_token %}
    <input type = "text" name = "username" placeholder="ENTER YOU NAME"><br>
    <br>
    <input type = "text" name = "first_name" placeholder="ENTER YOU FIRST NAME"><br>
    <br>
    <input type = "text" name = "last_name" placeholder="ENTER YOU LAST NAME"><br>
    <br>
    <input type = "email" name = "email" placeholder="ENTER YOU EMAIL"><br>
    <br>
    <input type = "password" name = "password" placeholder="ENTER YOU PASSWORD"><br>
    <br>
    <input type = "password" name = "password1" placeholder="CONFIRM YOUR PASSWORD"><br>
    <br>
    <input type = "submit">

</form>
{% for msg in messages %}
{{msg}}
{% endfor %}
</body>
</html>
